http_interactions:
- request:
    method: GET
    uri: https://data.ny.gov/resource/f462-ka72.json?%24limit=50000
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"Z29sZi42MDU3Nl82XzI4OXBYNlBKdVphUE94R29KcWFmVnlhQjJ6cWlEdw---gzij3jMwvDytkMM_iOExstUIXcOhNP--gzip--gzip"'
      x-soda2-fields: '["open_dataset_id","dataset_title","type","agency","posting_frequency","description","status","dataset_created_at","plan_submission_date","nys_url","plan_submission_date_notes"]'
      x-soda2-types: '["text","text","text","text","text","text","text","floating_timestamp","text","url","text"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Fri, 27 Mar 2026 04:34:33 GMT
      x-soda2-secondary-last-modified: Fri, 27 Mar 2026 04:34:33 GMT
      last-modified: Fri, 27 Mar 2026 04:34:33 GMT
      x-socrata-requestid: 20c4c96ca0ad7538f1daa5a9325ee7b1
    body:
      string: |
        [{"open_dataset_id":"10","dataset_title":"MTA Bus Origin-Destination Ridership Estimates","status":"Planned","plan_submission_date":"Q3 2026"}
        ,{"open_dataset_id":"101","dataset_title":"MTA Bus Hourly Ridership: 2017 to 2019","description":"This dataset provides bus ridership estimates on an hourly basis by bus route and class of fare payment.","status":"Planned","plan_submission_date":"Q1 2026","plan_submission_date_notes":"The dataset was moved from its original release date due to issues in accessing the historic data"}
        ,{"open_dataset_id":"11","dataset_title":"MTA Subway Station Depth","status":"Planned","plan_submission_date":"Q4 2026"}
        ,{"open_dataset_id":"12","dataset_title":"MTA OMNY Fare Cap Metrics","status":"Planned","plan_submission_date":"Q4 2026"}
        ,{"open_dataset_id":"151","dataset_title":"MTA Pulse Survey","status":"Published - enhancements planned","plan_submission_date":"Q1 [...]
- request:
    method: GET
    uri: https://data.ny.gov/resource/2ucp-7wg5.json?%24limit=2
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"anVsaWV0dC41Mjc0NF8xMF8xMDM0MnpSempydHYxXzZhb2JnVlA3d2Zua0N6dHlB---gzipJlQfEHs-wRNsCNmL3mlHjlFpTyk--gzip--gzip"'
      x-soda2-fields: '["valid_from","valid_to","in_effect","route_id","route_short_name","route_long_name","route_description","route_color","stop_id","stop_name","direction_id","direction","revenue_stop","timepoint","boarding","alighting","is_cbd","latitude","longitude","bundle","georeference",":@computed_region_wbg7_3whc",":@computed_region_kjdx_g34t",":@computed_region_yamh_8v7k"]'
      x-soda2-types: '["floating_timestamp","floating_timestamp","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","number","number","text","point","number","number","number"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Tue, 24 Feb 2026 05:12:50 GMT
      x-soda2-secondary-last-modified: Tue, 24 Feb 2026 05:12:50 GMT
      last-modified: Tue, 24 Feb 2026 05:12:50 GMT
      x-socrata-requestid: 493fc1667b5d99e403323858694f83e7
    body:
      string: |
        [{"valid_from":"2020-11-20T00:00:00.000","valid_to":"2020-12-15T00:00:00.000","in_effect":"false","route_id":"QM3","route_short_name":"QM3","route_long_name":"Little Neck - Midtown","route_description":"Via Northern Blvd","route_color":"00933C","stop_id":"450014","stop_name":"6 AV/W 41 ST","direction_id":"1","direction":"W","revenue_stop":"1","timepoint":"0","boarding":"0","alighting":"1","is_cbd":"true","latitude":"40.75459","longitude":"-73.984193","bundle":"2020Sep","georeference":{"type":"Point","coordinates":[-73.984193,40.75459]},":@computed_region_wbg7_3whc":"795",":@computed_region_kjdx_g34t":"2095",":@computed_region_yamh_8v7k":"749"}
        ,{"valid_from":"2020-11-20T00:00:00.000","valid_to":"2020-12-15T00:00:00.000","in_effect":"false","route_id":"QM44","route_short_name":"QM44","route_long_name":"Electchester - Midtown Via 3Rd Ave","route_color":"00933C","stop_id":"551847","stop_name":"69 RD/112 ST","direction_id":"1","direction":"W","revenue_stop":"1","timepoint":"0","boarding":"1","alighting":"0","is_cbd":"false","latitude":"40.725655","longitude":"-73.840949","bundle":"2020Sep","georeference":{"type":"Point","coordinates":[-73.840949,40.725655]},":@computed_region_wbg7_3whc":"845",":@computed_region_kjdx_g34t":"2137",":@computed_region_yamh_8v7k":"196"}]
  recorded_at: 2026-03-27 23:36:58
[...]
- request:
    method: GET
    uri: https://data.ny.gov/resource/2ucp-7wg5.json?%24limit=2&%24where=TRIM%28route_id%29+%3D+%27QM3%27
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"anVsaWV0dC41Mjc0NF8xMF8xMDM0dXBseTVuaERqc1dkSndacjM3S2Zwa3NzSnJv---gzipR48EF_povGjkddC6zrsq0DKFgVs--gzip--gzip"'
      x-soda2-fields: '["valid_from","valid_to","in_effect","route_id","route_short_name","route_long_name","route_description","route_color","stop_[...]
[...]
- request:
    method: GET
    uri: https://data.ny.gov/resource/2ucp-7wg5.json?%24limit=2&%24where=TRIM%28route_id%29+IN+%28%27QM3%27%2C+%27QM44%27%29
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"anVsaWV0dC41Mjc0NF8xMF8xMDM0c1B0ekN6bTdaMUx2TkdvS1dUaFFEbFZWVUFR---gzipuc4YgF8mqSDYd1E8oEl8Uaxk1WQ--gzip--gzip"'
      x-soda2-fields: '["valid_from","valid_to","in_effect","route_id","route_short_name","route_long_name","route_description","[...]
[...]
- request:
    method: GET
    uri: https://data.ny.gov/resource/2ucp-7wg5.json?%24limit=2&%24where=valid_from+%3E%3D+%272020-11-20T00%3A00%3A00.000%27+AND+valid_from+%3C+%272020-11-21T00%3A00%3A00.000%27
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"anVsaWV0dC41Mjc0NF8xMF8xMDM0Rzg0dlRfLTNOblpiWTJWcm4yT0VIcHY1MzlZ---gzipRV1n3-PbWDQ327rfTP6x7YnRAU4--gzip--gzip"'
      x-soda2-fields: '["valid_from","valid_to","in_effect","route_id","rout[...]
[...]
- request:
    method: GET
    uri: https://data.ny.gov/resource/2ucp-7wg5.json?%24limit=2&%24where=valid_from+%3E%3D+%272020-11-20T00%3A00%3A00.000%27
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"anVsaWV0dC41Mjc0NF8xMF8xMDM0WUozUTd0UThWMGFtd3hiY0JmbW1tS0dnc29v---gzipg7CAKaMllVBxMMRT7XV90Xv11b4--gzip--gzip"'
      x-soda2-fields: '["valid_from","valid_to","in_effect","route_id","route_short_name","route_long_name","route_description","[...]
[...]
